.header
    display: flex
    justify-content: space-between
    height: 56px
    background-color: #323232
    &_menu
        display: flex
        justify-content: start
        &_item
            display: block
            color: #ffffff
            font-size: 15px
            font-weight: 300
            font-style: normal
            letter-spacing: normal
            text-align: left
            margin: 19px 18px 15px 0
        &_divider
            background-color: #ffffff
            margin: 10px 18px 11px 0
            width: 1px
            height: 35px
            opacity: 0.1
    &_btn
        width: 153px
        height: 38px
        margin: 8px 0 10px 0
        background-color: #e8d8b6
        color: #323232
        font-size: 12px
        font-weight: 400
        font-style: normal
        letter-spacing: normal
        text-align: center
        text-transform: uppercase
        border: none
.subheader
    display: flex
    justify-content: space-between
    height: 90px
    &_links
        display: flex
        justify-content: start
    &_logo
        margin: 15px 10px 14px 0
    &_events
        display: flex
        justify-content: space-between
        align-items: center
        margin: 27px 0 29px 33px
        &_sign
            width: 37px
            height: 37px
            border: 1px solid #323232
            &_img
                margin: 5px 7px
        &_link
            margin-left: 14px
            color: #323232
            font-size: 15px
            font-weight: 300
            font-style: normal
            letter-spacing: normal
            text-align: left
            text-transform: uppercase
    &_contacts
        display: flex
        justify-content: space-between
        align-items: center
        margin: 27px 0 29px 33px
        &_sign
            width: 37px
            height: 37px
            border: 1px solid #323232
            &_img
                margin: 5px 7px
        &_link
            margin-left: 14px
            color: #323232
            font-size: 15px
            font-weight: 300
            font-style: normal
            letter-spacing: normal
            text-align: left
            text-transform: uppercase
    &_btn
        width: 153px
        height: 42px
        margin: 25px 0
        background-color: #c99c47
        color: #ffffff
        font-size: 13px
        font-weight: 400
        font-style: normal
        letter-spacing: normal
        text-align: center
        text-transform: uppercase
        border: none
.events
    display: flex
    justify-content: flex-end
    height: 440px
    background: url('../img/bg/events_bg.png') center (center / cover) no-repeat
    &_slider
        margin: 123px 0 138px 0
        &_block
            
            width: 427px
            height: 179px
            border: solid #ffffff
.slider_content
    display: flex
    justify-content: space-between
    background: url('../img/bg/slider_bg.png') center (center / cover) no-repeat
    height: 95%
    width: 98%
    padding: 25px 0 0 25px
    &_calendar
        width: 105px
        height: 128px
        display: flex
        flex-direction: column
        justify-content: space-around
        align-content: center
        padding: 10px
        border: 1px solid #c99c47
        background-color: #ffffff
        .day
            width: 80px
            height: 29px
            margin: 0 auto
            margin-top: 15px;
            color: #c99c47
            font-size: 29px
            font-weight: 400
            font-style: normal
            letter-spacing: normal
            line-height: 20px
            text-align: center
            text-transform: uppercase
        .month
            width: 81px
            height: 18px
            margin: 0 auto
            color: #c99c47
            font-size: 18px
            font-weight: 400
            font-style: normal
            letter-spacing: normal
            line-height: 22.19px
            text-align: center
            text-transform: uppercase
        .year
            width: 79px
            height: 35px
            margin: 0 auto
            margin-top: 10px
            color: #c99c47
            font-size: 35px
            font-weight: 400
            font-style: normal
            letter-spacing: normal
            line-height: 23.88px
            text-align: center
            text-transform: uppercase 
    &_descr
        width: 239px
        height: 107px
        margin: 7px 15px 7px 20px    
        color: #323232
        font-size: 13px
        font-weight: 300
        font-style: normal
        letter-spacing: normal
        h2
            color: #c99c47
            font-size: 14px
            font-weight: 500
            font-style: normal
            letter-spacing: normal
            text-transform: uppercase
        .place
            color: #757575
            font-size: 14px
            font-weight: 300
            font-style: normal
            letter-spacing: normal
.description > h3
    margin: 66px 0 60px 0
    color: #323232
    font-size: 17px
    font-weight: 300
    font-style: normal
    letter-spacing: normal
    line-height: 30px
    text-align: center
.description_cards
    display: flex
    justify-content: space-between
    align-items: center
.card
    width: 368px
    height: 450px
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: column
    position: relative
    &_circ
        width: 169px
        height: 170px
        border: 1px solid #c99c47
        border-radius: 100%    
    &_img
        position: absolute
        top: 50px
    &_text
        color: #323232
        font-size: 15px
        font-weight: 300
        font-style: normal
        letter-spacing: normal
        line-height: 24px
        text-align: center
    &_text > h3
        font-size: 17px
        font-weight: 500
        font-style: normal
        letter-spacing: normal
        line-height: normal
    &_btn
        width: 120px
        height: 38px
        background-color: #d4c198
        color: #ffffff
        font-size: 13px
        font-weight: 400
        font-style: normal
        letter-spacing: normal
        text-align: center
        border: none
    &_label
        color: #919191
        font-size: 11px
        font-weight: 400
        font-style: normal
        letter-spacing: normal
        text-align: center
.description
    &_btns
        display: flex
        justify-content: center
        margin-top: 39px
        align-items: center
.register_btn
    width: 153px
    height: 42px
    margin-right: 15px
    background-color: #c99c47
    color: #ffffff
    font-size: 13px
    font-weight: 400
    font-style: normal
    letter-spacing: normal
    text-align: center
    text-transform: uppercase
    border: none
.subsribe_btn
    width: 153px
    height: 42px
    background-color: #323232
    color: #ffffff
    font-size: 13px
    font-weight: 400
    font-style: normal
    letter-spacing: normal
    text-align: center
    text-transform: uppercase
h1
    color: #323232
    font-size: 24px
    font-weight: 500
    font-style: normal
    letter-spacing: normal
    text-align: center
    text-transform: uppercase
.reviews
    height: 417px
    background: url('../img/bg/review_bg.png') center center/cover no-repeat
    margin-top: 49px
    padding-top: 54px

.customers
    display: flex
    justify-content: center
    align-items: center
    &_circ
        width: 121px
        height: 121px
        display: flex
        justify-content: center
        align-items: center
        margin-right: 14px
        margin-bottom: 115px
        background-color: #ffffff
        border-radius: 100%
    &_card
        position: relative
        display: flex
        justify-content: flex-start
        align-items: center
        margin: 40px 48px 61px 0
    &_descr>h3
        color: #323232
        font-size: 17px
        font-weight: 500
        font-style: normal
        letter-spacing: normal
        text-align: justifyLeft
    &_descr
        width: 411px
        height: 245px
        background-color: #fff
        padding: 26px 27px 61px 50px
        &_date
            width: 119px
            height: 29px
            background-color: black
            opacity: 0.5
            color: #ffffff
            font-size: 9px
            font-weight: 300
            line-height: 24px
            font-style: normal
            letter-spacing: normal
            text-align: center
        &_text
            color: #323232
            font-size: 14px
            font-weight: 300
            font-style: normal
            letter-spacing: normal
            line-height: 22px
            text-align: justifyLeft
.video
    height: 590px
    padding: 60px 0 60px 0
    &_img
        margin-top: 25px
        display: flex
        justify-content: center
    &_img>img

.video>h2
    color: #323232
    font-size: 24px
    font-weight: 500
    font-style: normal
    letter-spacing: normal
    text-align: center
    text-transform: uppercase
.clients>h2
    color: #323232
    font-size: 24px
    font-weight: 500
    font-style: normal
    letter-spacing: normal
    text-align: center
    text-transform: uppercase
.clients
    background: url('../img/bg/clients_bg.png')
    height: 287px
    padding: 44px 0 70px 0
    &_block
        display: flex
        justify-content: space-between
        text-align: center
        margin-top: 33px
    &_card
        width: 180px
        height: 123px
        border: 1px solid #f8f3e9
        background-color: #ffffff
        display: flex
        justify-content: center
        align-items: center
footer
    height: 365px
    background-color: #323232
    padding: 48px 0 43px 0
.links_block
    display: flex
    justify-content: space-between
    align-items: flex-start
    &_cont
        display: flex
        justify-content: space-between
        align-items: center
    &_follow>a
        color: #c99c47
        font-size: 14px
        font-weight: 400
        font-style: normal
        letter-spacing: normal
        text-align: right
        text-transform: uppercase
.topforum_block
    margin-right: 59px
    margin-bottom: 70px
h4
    color: #c99c47
    font-weight: 400
    font-style: normal
    letter-spacing: normal
    line-height: normal
.topforum_block>ul
    color: #ffffff
    font-family: Roboto
    font-size: 14px
    font-weight: 300
    font-style: normal
    letter-spacing: normal
    line-height: 22px
    text-align: left
    list-style-type: none
    direction: rtl

.links_block_cont>.divider
    width: 1px
    height: 210px
    background-color: #fff
    opacity: 0.1
    margin-right: 45px
.contact_block
    color: #ffffff
    font-size: 14px
    font-weight: 300
    font-style: normal
    letter-spacing: normal
    line-height: 22px
    text-align: justifyLeft
    margin-bottom: 85px

